## Pandas and CSV/EXCEL

#### Libraries - Imports

In [25]:
import pandas as pd # This is a convention in Python community.

In [2]:
 # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [7]:
df = pd.read_csv('roman-amphitheaters.csv') #

In [10]:
df.tail()

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,amphitheatrum,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
270,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,https://amphi-theatrum.de/1529.html,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
271,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,https://amphi-theatrum.de/3090.html,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
272,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,https://amphi-theatrum.de/3066.html,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482
273,ammaiaAmphitheater,Amphitheater at Ammaia,Ammaia,Ammaia,https://pleiades.stoa.org/places/255975,NaN,NaN,amphitheater,imperial,True,...,https://amphi-theatrum.de/3020.html,False,NaN,NaN,60.0,NaN,NaN,-7.391970,39.369905,566
274,contributaAmphitheater,Amphitheater at Contributa Iulia Ugultunia,Contributa,Contributa Iulia Ugultunia,https://pleiades.stoa.org/places/256126,NaN,NaN,amphitheater,imperial,True,...,https://amphi-theatrum.de/3093.html,False,NaN,NaN,72.0,NaN,NaN,-6.389320,38.347751,501

In [13]:
df

                                              id                                              title                   label                                    latintoponym                                    pleiades  welchid  golvinid              buildingtype                      chronogroup  secondcentury  capacity      modcountry          romanregion    zotero                        amphitheatrum  dimensionsunknown  arenamajor  arenaminor  extmajor  extminor  exteriorheight  longitude   latitude  elevation
0                        duraEuroposAmphitheater                       Amphitheater at Dura Europos            Dura Europos                                    Dura Europus     https://pleiades.stoa.org/places/893989      NaN     129.0              amphitheater                          severan          False    1000.0           Syria                syria  5ADZC245  https://amphi-theatrum.de/1449.html              False       31.00       25.00     50.00     44.00             NaN  40.728926  34.749855        223
1                              arlesAmphitheater                              Amphitheater at Arles                   Arles                                         Arelate     https://pleiades.stoa.org/places/148217      NaN     154.0              amphitheater                          flavian           True   23354.0          France          narbonensis  LD7NNHSG  https://amphi-theatrum.de/1371.html              False       47.00       32.00    136.00    107.00             NaN   4.631111  43.677778         21
2                               lyonAmphitheater                               Amphitheater at Lyon                    Lyon                                        Lugdunum     https://pleiades.stoa.org/places/167717      NaN     171.0              amphitheater                   second-century           True   27454.0          France          lugdunensis       NaN  https://amphi-theatrum.de/1416.html              False       67.60       42.00    143.00    117.00             NaN   4.830556  45.770556        206
3                               ludusMagnusArena                                 Ludus Magnus Arena            Ludus Magnus                                    Ludus Magnus     https://pleiades.stoa.org/places/423025      NaN       NaN            practice-arena                         imperial          False       NaN           Italy              regio-i       NaN  https://amphi-theatrum.de/1708.html               True         NaN         NaN       NaN       NaN             NaN  12.494913  41.889950         22
4                        romeFlavianAmphitheater                       Flavian Amphitheater at Rome    Flavian Amphitheater                                            Roma     https://pleiades.stoa.org/places/423025      NaN     152.0              amphitheater                          flavian           True   50000.0           Italy              regio-i  VKMRD8AT  https://amphi-theatrum.de/1373.html              False       83.00       48.00    189.00    156.00           52.00  12.492269  41.890169         22
5                     romeAmphitheatrumCastrense                     Amphitheatrum Castrense (Rome)         Amph. Castrense                                            Roma     https://pleiades.stoa.org/places/423025      NaN     189.0              amphitheater                          severan          False    7000.0           Italy              regio-i       NaN  https://amphi-theatrum.de/1566.html              False         NaN         NaN     88.00     75.80             NaN  12.515144  41.887715         48
6                     eleutheropolisAmphitheater                     Amphitheater at Eleutheropolis          Eleutheropolis                                  Eleutheropolis     https://pleiades.stoa.org/places/687854      NaN       NaN              amphitheater                   second-century           True    3500.0          Israel               judaea       NaN  https://amphi-theatrum.de/2397.html              False       47.00       38.00     71.00     56.00             NaN  34.893845  31.608189        253
7                            pompeiiAmphitheater                            Amphitheater at Pompeii                 Pompeii                                         Pompeii     https://pleiades.stoa.org/places/433032      1.0       2.0              amphitheater                       republican          False   20000.0           Italy              regio-i  2DX4CYZZ  https://amphi-theatrum.de/1367.html              False       66.00       35.00    135.00    104.00             NaN  14.495262  40.751213         21
8                             meridaAmphitheater                             Amphitheater at Mérida                  Mérida                                 Emerita Augusta     https://pleiades.stoa.org/places/256155      NaN      77.0              amphitheater                   julio-claudian           True   15000.0           Spain            lusitania       NaN  https://amphi-theatrum.de/2701.html              False       64.00       41.00    126.00    102.00             NaN  -6.337952  38.916168        231
9                           newsteadAmphitheater                           Amphitheater at Newstead                Newstead                                      Trimontium      https://pleiades.stoa.org/places/89304      NaN       NaN              amphitheater                          flavian           True    1500.0  United Kingdom            britannia  CPSBJ2HR  https://amphi-theatrum.de/1899.html              False       37.00       23.00     70.00     60.00             NaN  -2.691900  55.602600         83
10                        conimbrigaAmphitheater                         Amphitheater at Conimbriga              Conimbriga                                      Conimbriga     https://pleiades.stoa.org/places/236443      NaN     101.0              amphitheater                   julio-claudian           True    4000.0        Portugal            lusitania       NaN  https://amphi-theatrum.de/1528.html              False       54.00       40.00     94.00     80.00             NaN  -8.493330  40.099444        100
11                             cumaeAmphitheater                              Amphitheater at Cumae                   Cumae                                           Cumae     https://pleiades.stoa.org/places/432808      4.0       NaN              amphitheater                       republican           True       NaN           Italy              regio-i       NaN  https://amphi-theatrum.de/1474.html              False         NaN         NaN    114.00     84.00             NaN  14.056000  40.841847         19
12                   pozzuoliFlavianAmphitheater                   Flavian Amphitheater at Pozzuoli      Pozzuoli (Flavian)                                         Puteoli     https://pleiades.stoa.org/places/432815      NaN     153.0              amphitheater                          flavian           True   35700.0           Italy              regio-i  DKQ6KDQ2  https://amphi-theatrum.de/1466.html              False       74.80       42.00    149.00    116.00             NaN  14.125315  40.825929         41
13                     pozzuoliEarlyAmphitheater                     Early Amphitheater at Pozzuoli        Pozzuoli (Early)                                         Puteoli     https://pleiades.stoa.org/places/432815      8.0       5.0              amphitheater                       republican          False       NaN           Italy              regio-i       NaN  https://amphi-theatrum.de/1465.html               True         NaN         NaN       NaN       NaN             NaN  14.127615  40.826239         58
14                          syracuseAmphitheater                           Amphitheater at Syracuse                Syracuse                                       Syracusae     https://pleiades.stoa.org/places/462503      NaN      83.0              amphitheater                   julio-claudian           True   28773.0           Italy              sicilia       NaN  https://amphi-theatrum.de/1514.html              False       69.80       39.70    146.80    118.70             NaN  15.278934  37.074132         23
15                          carthageAmphitheater                           Amphitheater at Carthage                Carthage                                        Carthago     https://pleiades.stoa.org/places/314921      NaN     174.0              amphitheater                         augustan           True   30000.0         Tunisia        proconsularis  5V8IDURU  https://amphi-theatrum.de/1309.html              False       64.00       36.00    156.00    128.00             NaN  10.314924  36.856078         14
16                      hadrianVillaAmphitheater          Amphitheater at Hadrian's Villa at Tivoli            Tivoli Villa                                  Villa Hadriani     https://pleiades.stoa.org/places/423127      NaN       NaN              amphitheater                        hadrianic           True       NaN           Italy              regio-i       NaN                                  NaN              False         NaN         NaN     25.00       NaN             NaN  12.778916  41.941640         99
17                           corinthAmphitheater                            Amphitheater at Corinth                 Corinth                                       Corinthus     https://pleiades.stoa.org/places/570182     18.0     126.0              amphitheater                        caesarean           True   14000.0          Greece               achaea       NaN  https://amphi-theatrum.de/1361.html              False       58.00       30.00     98.00     70.00             NaN  22.892126  37.909629         98
18                     marcianopolisAmphitheater             Amphitheater at Marcianopolis (Devnya)           Marcianopolis                                   Marcianopolis     https://pleiades.stoa.org/places/216878      NaN     127.0              amphitheater                          severan           True    4000.0        Bulgaria              thracia       NaN  https://amphi-theatrum.de/1534.html              False       50.00       40.00     70.00     60.00             NaN  27.556674  43.218689        120
19                        porolissumAmphitheater                         Amphitheater at Porolissum              Porolissum                                      Porolissum     https://pleiades.stoa.org/places/207361      NaN      39.0              amphitheater                   second-century           True       NaN         Romania                dacia       NaN  https://amphi-theatrum.de/1443.html              False       64.00       52.00     84.00     75.00             NaN  23.154052  47.177552        441
20                          nijmegenAmphitheater                           Amphitheater at Nijmegen                Nijmegen                                Ulpia Noviomagus      https://pleiades.stoa.org/places/98921      NaN      38.0              amphitheater                   second-century           True       NaN     Netherlands    germania-inferior       NaN  https://amphi-theatrum.de/1453.html              False       60.00       40.00       NaN       NaN             NaN   5.878859  51.838523         46
21                 carnuntumMilitaryAmphitheater                 Military Amphitheater at Carnuntum        Carnuntum (Mil.)                                       Carnuntum     https://pleiades.stoa.org/places/128376      NaN     122.0              amphitheater                    first-century           True    8000.0         Austria             pannonia       NaN  https://amphi-theatrum.de/1432.html              False       71.00       43.00     99.50     81.50             NaN  16.892619  48.126824        164
22                                carnuntumLudus                                  Carnuntum (Ludus)         Carnuntum Ludus                                       Carnuntum     https://pleiades.stoa.org/places/128376      NaN       NaN            practice-arena                         imperial          False       NaN         Austria             pannonia       NaN  https://amphi-theatrum.de/2188.html               True         NaN         NaN       NaN       NaN             NaN  16.848689  48.109807        185
23                 carnuntumCivilianAmphitheater                 Civilian Amphitheater at Carnuntum        Carnuntum (Civ.)                                       Carnuntum     https://pleiades.stoa.org/places/128376      NaN     123.0              amphitheater                   second-century           True   13000.0         Austria             pannonia       NaN  https://amphi-theatrum.de/1431.html              False       66.00       50.00    129.00    113.00             NaN  16.850943  48.110019        185
24                       leptisMagnaAmphitheater                       Amphitheater at Leptis Magna            Leptis Magna                                    Leptis Magna     https://pleiades.stoa.org/places/344448      NaN      24.0              amphitheater                         neronian           True   16000.0           Libya        proconsularis       NaN  https://amphi-theatrum.de/1321.html              False       57.00       47.00    100.00     90.00             NaN  14.309452  32.632340         18
25                          empuriesAmphitheater                           Amphitheater at Empuries                Empuries                                        Emporiae     https://pleiades.stoa.org/places/246382      NaN      93.0              amphitheater                    first-century           True    3343.0           Spain        tarraconensis       NaN  https://amphi-theatrum.de/1520.html              False       71.00       42.00     86.00     54.00             NaN   3.117431  42.130042         27
26                         tarragonaAmphitheater                          Amphitheater at Tarragona               Tarragona                                         Tarraco     https://pleiades.stoa.org/places/246349      NaN     139.0              amphitheater                   second-century           True   15000.0           Spain        tarraconensis       NaN  https://amphi-theatrum.de/1497.html              False       62.00       39.00     95.00     69.50             NaN   1.258780  41.114522         13
27                          cagliariAmphitheater                           Amphitheater at Cagliari                Cagliari                                         Carales     https://pleiades.stoa.org/places/471899      NaN     182.0              amphitheater                   second-century           True   12283.0           Italy  corsica-et-sardinia       NaN  https://amphi-theatrum.de/1377.html              False       46.80       33.20     92.80     79.20             NaN   9.113228  39.223908         60
28                           italicaAmphitheater                            Amphitheater at Italica                 Italica                                         Italica     https://pleiades.stoa.org/places/256231      NaN     168.0              amphitheater                   second-century           True   25000.0           Spain              baetica       NaN  https://amphi-theatrum.de/2740.html              False       70.00       44.00    160.00    136.00             NaN  -6.046742  37.443893         17
29                         segobrigaAmphitheater                          Amphitheater at Segobriga               Segobriga                                       Segobriga     https://pleiades.stoa.org/places/266036      NaN      88.0              amphitheater                          flavian           True    7500.0           Spain        tarraconensis  L98ZXTFU  https://amphi-theatrum.de/1516.html              False       47.00       31.00     75.00     64.00             NaN  -2.813944  39.886018        817
30                           cataniaAmphitheater                            Amphitheater at Catania                 Catania                                          Catina     https://pleiades.stoa.org/places/462270      NaN     180.0              amphitheater                         imperial           True   16000.0           Italy              sicilia       NaN  https://amphi-theatrum.de/2635.html              False       52.00       38.00     90.00     70.00             NaN  15.085323  37.507096         31
31                           paestumAmphitheater                            Amphitheater at Paestum                 Paestum                                         Paestum     https://pleiades.stoa.org/places/442733     10.0       7.0              amphitheater                       republican           True    4500.0           Italy            regio-iii       NaN  https://amphi-theatrum.de/1468.html              False       56.00       35.00     79.00     59.00             NaN  15.006449  40.422354         18
32                              luniAmphitheater                               Amphitheater at Luni                    Luni                                            Luna     https://pleiades.stoa.org/places/403235      NaN     143.0              amphitheater                   second-century           True    3326.0           Italy            regio-vii  P8RB27QW  https://amphi-theatrum.de/1543.html              False       52.00       34.50     87.00     71.00             NaN  10.022386  44.062656          4
33                           cassinoAmphitheater                            Amphitheater at Cassino                 Cassino                                         Casinum     https://pleiades.stoa.org/places/432764      NaN      82.0              amphitheater                         imperial           True    7840.0           Italy              regio-i       NaN  https://amphi-theatrum.de/1513.html              False       51.00       33.00     84.00     66.00             NaN  13.823575  41.482933         73
34                        viminaciumAmphitheater                         Amphitheater at Viminacium              Viminacium                                      Viminacium     https://pleiades.stoa.org/places/207549      NaN       NaN              amphitheater                   second-century           True    6900.0          Serbia      moesia-superior  SL2QKBGS  https://amphi-theatrum.de/2572.html              False       55.00       45.00     84.00     74.00             NaN  21.220083  44.737985         72
35                       flaviaSolvaAmphitheater                       Amphitheater at Flavia Solva            Flavia Solva                                    Flavia Solva     https://pleiades.stoa.org/places/197273      NaN      52.0              amphitheater                         imperial           True    2729.0         Austria              noricum  EGZ5XRE9  https://amphi-theatrum.de/1455.html              False       85.00       35.00     97.00     45.00             NaN  15.565777  46.767153        266
36                           roselleAmphitheater                            Amphitheater at Roselle                 Roselle                                        Rusellae     https://pleiades.stoa.org/places/413288      NaN      13.0              amphitheater                   julio-claudian           True    2309.0           Italy            regio-vii       NaN  https://amphi-theatrum.de/1478.html              False       30.00       20.00     48.00     37.00             NaN  11.159132  42.828405        165

#### Data types in our csv

In [8]:
df.shape # notice that this is an attribute so no parentheses

(275, 24)

In [9]:
df.info() # notice that this is a methon, so we need parentheses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 275 non-null    object
 1   title              275 non-null    object
 2   label              275 non-null    object
 3   latintoponym       261 non-null    object
 4   pleiades           274 non-null    object
 5   welchid            19 non-null     float64
 6   golvinid           166 non-null    float64
 7   buildingtype       275 non-null    object
 8   chronogroup        275 non-null    object
 9   secondcentury      275 non-null    bool
 10  capacity           153 non-null    float64
 11  modcountry         275 non-null    object
 12  romanregion        274 non-null    object
 13  zotero             56 non-null     object
 14  amphitheatrum      239 non-null    object
 15  dimensionsunknown  275 non-null    bool
 16  arenamajor         184 non-null    float64
 17  arenaminor         179 non-null    float64
 18  extmajor           219 non-null    float64
 19  extminor           198 non-null    float64
 20  exteriorheight     3 non-null      float64
 21  longitude          275 non-null    float64
 22  latitude           275 non-null    float64
 23  elevation          275 non-null    int64
dtypes: bool(2), float64(10), int64(1), object(11)
memory usage: 47.9+ KB

In [16]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
###pd.reset_option('display.max_rows')

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [28]:
df = pd.read_excel('StraussShipwrecks.xlsx') # 

##NEVER HAVE SPACES IN EXCEL!! USE UNDERSCORE

#### Access one column

In [75]:
df["Country"]

0       Croatia
1       Croatia
2       Croatia
3       Croatia
4       Croatia
         ...
1779      Italy
1780      Italy
1781      Italy
1782      Italy
1783      Italy
Name: Country, Length: 1784, dtype: object

#### What datatype is this?

In [44]:
type(df['Sea area'])

pandas.core.series.Series

#### Access two columns

In [78]:
df[["Country","Columns etc"]]

      Country  Columns etc
0     Croatia        False
1     Croatia        False
2     Croatia        False
3     Croatia        False
4     Croatia        False
...       ...          ...
1779    Italy        False
1780    Italy        False
1781    Italy        False
1782    Italy        False
1783    Italy        False

[1784 rows x 2 columns]

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

In [45]:
type(df['Sea area','Country'])

KeyError: ('Sea area', 'Country')

#### Get all columns

In [34]:
df

      Wreck ID  Strauss ID                            Name Parker Number  Sea area  Country                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0            1         331                          Komiza           NaN  Adriatic  Croatia                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1            2         328                         Lokunji           NaN  Adriatic  Croatia                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2            3         329                    Maharac Cape           NaN  Adriatic  Croatia                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3            4         330                            Mlin           702  Adriatic  Croatia                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4            5         322                        Plavac B           832  Adriatic  Croatia  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...        ...         ...                             ...           ...       ...      ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
1779      9058           0              Olbia Late Roman 2           NaN       NaN    Italy                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1780      9059           0                  Olbia medieval           NaN       NaN    Italy                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1781      9060           0  Isola della Gallinara (Savona)           NaN       NaN    Italy                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1782      9061           0                San Vito Lo Capo           NaN       NaN    Italy                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1783      9063           0   Capo Colonna and Capo Alfieri           NaN       NaN    Italy                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1784 rows x 35 columns]

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [37]:
df.iloc[0]

Wreck ID                                                                   1
Strauss ID                                                               331
Name                                                                  Komiza
Parker Number                                                            NaN
Sea area                                                            Adriatic
Country                                                              Croatia
Region                                                            Vis Island
Latitude                                                            43.03333
Longitude                                                           16.08333
Min depth                                                               30.0
Max depth                                                               30.0
Depth                                                                    30m
Period                                                        Roman Imperial
Dating                                                           C1st-2nd AD
Earliest date                                                            1.0
Latest date                                                            200.0
Date range                                                               NaN
Mid point of date range                                                  NaN
Probability                                                              NaN
Place of origin                                                        Egypt
Place of destination                                          Northern Italy
Reference                  M. Jurišić, Ancient Shipwrecks of the Adriatic...
Comments                   Completely looted site with sherds of Egyptian...
Amphorae                                                                True
Marble                                                                 False
Columns etc                                                            False
Sarcophagi                                                             False
Blocks                                                                 False
Marble type                                                              NaN
Other cargo                                                              NaN
Hull remains                                                             NaN
Shipboard paraphernalia                                                  NaN
Ship equipment                                                           NaN
Estimated tonnage                                                        NaN
Amphora type                                                             NaN
Name: 0, dtype: object

In [38]:
df.iloc[0:5]

   Wreck ID  Strauss ID          Name Parker Number  Sea area  Country                           Region  Latitude  Longitude  Min depth  Max depth  Depth          Period        Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0         1         331        Komiza           NaN  Adriatic  Croatia                       Vis Island  43.03333   16.08333       30.0       30.0    30m  Roman Imperial   C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1         2         328       Lokunji           NaN  Adriatic  Croatia                   Kvarner region  44.70000   14.28333        4.0       12.0    12m  Roman Imperial      C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2         3         329  Maharac Cape           NaN  Adriatic  Croatia                     Mljet island  42.73333   17.66666        3.0       20.0  3-20m  Roman Imperial      C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3         4         330          Mlin           702  Adriatic  Croatia                    Split channel  43.45000   16.23333       25.0       40.0    40m  Roman Imperial  C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4         5         322      Plavac B           832  Adriatic  Croatia  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN    NaN  Roman Imperial       C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN

#### How can we get the first two rows?

In [40]:
df.iloc[0:2]

   Wreck ID  Strauss ID     Name Parker Number  Sea area  Country          Region  Latitude  Longitude  Min depth  Max depth Depth          Period       Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type Other cargo Hull remains Shipboard paraphernalia Ship equipment  Estimated tonnage Amphora type
0         1         331   Komiza           NaN  Adriatic  Croatia      Vis Island  43.03333   16.08333       30.0       30.0   30m  Roman Imperial  C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN         NaN          NaN                     NaN            NaN                NaN          NaN
1         2         328  Lokunji           NaN  Adriatic  Croatia  Kvarner region  44.70000   14.28333        4.0       12.0   12m  Roman Imperial     C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN         NaN          NaN                     NaN            NaN                NaN          NaN

#### How can we get the first column of the above df?

In [39]:
df.iloc[0:5]['Sea area']

0    Adriatic
1    Adriatic
2    Adriatic
3    Adriatic
4    Adriatic
Name: Sea area, dtype: object

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

In [46]:
df.loc[34]

Wreck ID                                                                  35
Strauss ID                                                                22
Name                                                             Cakil Burnu
Parker Number                                                            NaN
Sea area                                                              Aegean
Country                                                               Turkey
Region                                                        Sea of Marmara
Latitude                                                                 NaN
Longitude                                                                NaN
Min depth                                                               25.0
Max depth                                                               35.0
Depth                                                                    35m
Period                                                                 Roman
Dating                                                               C1st AD
Earliest date                                                            1.0
Latest date                                                            100.0
Date range                                                               NaN
Mid point of date range                                                  NaN
Probability                                                              NaN
Place of origin                                                         Cos?
Place of destination                                              Black Sea?
Reference                  INA Survey 1998 www.diveturkey.com/soa/english...
Comments                         Amphorae paralleled in 1st c AD Coan forms.
Amphorae                                                                True
Marble                                                                 False
Columns etc                                                            False
Sarcophagi                                                             False
Blocks                                                                 False
Marble type                                                              NaN
Other cargo                                                              NaN
Hull remains                                                 Lead sheathing.
Shipboard paraphernalia              One large roof tile, a one-handled jug.
Ship equipment                                                           NaN
Estimated tonnage                                                        NaN
Amphora type                                                             NaN
Name: 34, dtype: object

### Let's grab some data

#### Get the Country column

In [49]:
df["Country"]

0       Croatia
1       Croatia
2       Croatia
3       Croatia
4       Croatia
         ...
1779      Italy
1780      Italy
1781      Italy
1782      Italy
1783      Italy
Name: Country, Length: 1784, dtype: object

#### Count with `.value_counts()`

In [50]:
df["Country"].value_counts()

Country
Italy                   247
France                  217
Greece                   94
ZZ-Non-Mediterranean     69
Croatia                  63
Turkey                   62
Israel                   56
Spain                    30
Bulgaria                 18
Cyprus                   13
Albania                  11
International waters      9
Libya                     6
Lebanon                   5
Egypt                     5
Tunisia                   2
Montenegro                2
India                     1
Romania                   1
Minorca                   1
Syria                     1
Italy - Sicily            1
Malta                     1
Sudan                     1
Name: count, dtype: int64

### Set index `.set_index()`

In [54]:
df.set_index("Country")

         Wreck ID  Strauss ID                            Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
Country
Croatia         1         331                          Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
Croatia         2         328                         Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
Croatia         3         329                    Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
Croatia         4         330                            Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
Croatia         5         322                        Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...           ...         ...                             ...           ...       ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
Italy        9058           0              Olbia Late Roman 2           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9059           0                  Olbia medieval           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9060           0  Isola della Gallinara (Savona)           NaN       NaN                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9061           0                San Vito Lo Capo           NaN       NaN                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9063           0   Capo Colonna and Capo Alfieri           NaN       NaN                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1784 rows x 34 columns]

#### Did the original dataframe change?

In [55]:
df #no

      Wreck ID  Strauss ID                            Name Parker Number  Sea area  Country                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0            1         331                          Komiza           NaN  Adriatic  Croatia                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1            2         328                         Lokunji           NaN  Adriatic  Croatia                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2            3         329                    Maharac Cape           NaN  Adriatic  Croatia                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3            4         330                            Mlin           702  Adriatic  Croatia                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4            5         322                        Plavac B           832  Adriatic  Croatia  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...        ...         ...                             ...           ...       ...      ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
1779      9058           0              Olbia Late Roman 2           NaN       NaN    Italy                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1780      9059           0                  Olbia medieval           NaN       NaN    Italy                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1781      9060           0  Isola della Gallinara (Savona)           NaN       NaN    Italy                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1782      9061           0                San Vito Lo Capo           NaN       NaN    Italy                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1783      9063           0   Capo Colonna and Capo Alfieri           NaN       NaN    Italy                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1784 rows x 35 columns]

#### let's put the parameter `inplace=True`

In [56]:
df.set_index("Country", inplace = True)

In [57]:
df

         Wreck ID  Strauss ID                            Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
Country
Croatia         1         331                          Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
Croatia         2         328                         Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
Croatia         3         329                    Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
Croatia         4         330                            Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
Croatia         5         322                        Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...           ...         ...                             ...           ...       ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
Italy        9058           0              Olbia Late Roman 2           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9059           0                  Olbia medieval           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9060           0  Isola della Gallinara (Savona)           NaN       NaN                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9061           0                San Vito Lo Capo           NaN       NaN                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
Italy        9063           0   Capo Colonna and Capo Alfieri           NaN       NaN                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1784 rows x 34 columns]

#### What will happen of I look for `df.loc[0]`?

In [61]:
df.loc[0]

KeyError: 0

#### Let's reset the index

In [63]:
df.reset_index(inplace = True)

In [64]:
df.head()

   Country  Wreck ID  Strauss ID          Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth  Depth          Period        Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0  Croatia         1         331        Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0    30m  Roman Imperial   C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1  Croatia         2         328       Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0    12m  Roman Imperial      C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2  Croatia         3         329  Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0  3-20m  Roman Imperial      C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3  Croatia         4         330          Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0    40m  Roman Imperial  C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4  Croatia         5         322      Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN    NaN  Roman Imperial       C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN

### Sort `.sort_index(ascending=False)`

In [65]:
df.sort_index(ascending = False) ## only putting inplace fixes the original df

      Country  Wreck ID  Strauss ID                            Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
1783    Italy      9063           0   Capo Colonna and Capo Alfieri           NaN       NaN                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1782    Italy      9061           0                San Vito Lo Capo           NaN       NaN                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1781    Italy      9060           0  Isola della Gallinara (Savona)           NaN       NaN                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1780    Italy      9059           0                  Olbia medieval           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1779    Italy      9058           0              Olbia Late Roman 2           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
...       ...       ...         ...                             ...           ...       ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
4     Croatia         5         322                        Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
3     Croatia         4         330                            Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
2     Croatia         3         329                    Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
1     Croatia         2         328                         Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
0     Croatia         1         331                          Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN

[1784 rows x 35 columns]

In [66]:
df.head()

   Country  Wreck ID  Strauss ID          Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth  Depth          Period        Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0  Croatia         1         331        Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0    30m  Roman Imperial   C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1  Croatia         2         328       Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0    12m  Roman Imperial      C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2  Croatia         3         329  Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0  3-20m  Roman Imperial      C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3  Croatia         4         330          Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0    40m  Roman Imperial  C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4  Croatia         5         322      Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN    NaN  Roman Imperial       C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN

## Filter

#### what's the result of the below statement?

In [69]:
df["Country"] == "Greece"

0       False
1       False
2       False
3       False
4       False
        ...
1779    False
1780    False
1781    False
1782    False
1783    False
Name: Country, Length: 1784, dtype: bool

In [70]:
df[(df["Country"]=="Greece")]

     Country  Wreck ID  Strauss ID                           Name Parker Number               Sea area                                  Region  Latitude  Longitude  Min depth  Max depth                               Depth                   Period                      Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability                      Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks                                        Marble type                                        Other cargo                                       Hull remains                            Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
14    Greece        15          72           Aghios Eustratios(?)           NaN                 Aegean               Between Euboea and Lesbos       NaN        NaN        NaN        NaN                           Not known     early Roman Imperial              End of C1st BC          -25.0         -1.0         NaN                      NaN          NaN                               Aegean                    ?                         National Museum of Athens.                                                NaN     False   False        False       False   False                                                NaN  Bronze statue of Augustus riding a horse.Tthis...                                                NaN                                                NaN                                                NaN                NaN          NaN
41    Greece        42          30                         Piadha           810                 Aegean             North of Epidaurus, Argolis       NaN        NaN       30.0       35.0                              30-35m        Hellenistic/Roman                C 5th-1st BC         -500.0         -1.0         NaN                      NaN          NaN                               Aegean                    ?  G. Papathanassopoulos, IJNA 9 (1980), 164-67; ...                                                NaN     False   False        False       False   False                                                NaN                                     Laconian tiles                                                NaN                                                NaN                                                NaN                NaN          NaN
42    Greece        43         300                      Preveza B           905  Central Mediterranean                   In the area of Actium       NaN        NaN        NaN        NaN                           Not known        Hellenistic/Roman                  300-250 BC         -300.0       -250.0         NaN                      NaN          NaN                              Corinth               Italy?  G. Kapitän, IJNA 2 (1973), 185-6; C. Koehler, ...  Corinthian A and B forms, now in the British M...      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
43    Greece        44         305                      Methone A           693  Central Mediterranean               Near Methone, Peloponnese       NaN        NaN        NaN        NaN                             Shallow             Hellenistic?                Hellenistic?         -425.0        -25.0         NaN                      NaN          NaN                              Aegean?               Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...  A badly broken-up wreck, presumably with ampho...      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
44    Greece        45          31                       Marathon           650                 Aegean                   Near Marathon, Attica       NaN        NaN        NaN        NaN                           Not known        Hellenistic/Roman                C 4th-1st BC         -400.0         -1.0         NaN                      NaN          NaN                               Athens                    ?  K. Rhomaios, Arkhailogikon Deltion 9 (1924-5),...                                                NaN     False   False        False       False   False                                                NaN  Famous bronze statue of a boy, perhaps the god...                                    Wood fragments.                                                NaN                                                NaN                NaN          NaN
45    Greece        46         306                      Preveza A           904  Central Mediterranean                             Near Actium       NaN        NaN        NaN        NaN                                 18m        Hellenistic/Roman                  200-150 BC         -200.0       -150.0         NaN                      NaN          NaN                                Italy                    ?  Brief report only,  I. Vokotopoulou, Arkhailog...  Graeco-Italic, perhaps Will Type D. Large numbers      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
46    Greece        47          33                         Dhrapi           363                 Aegean  Between Hydra and Spetsai, Peloponnese       NaN        NaN        NaN        NaN                              35-40m        Hellenistic/Roman                   250-50 BC         -250.0        -50.0         NaN                      NaN          NaN                               Rhodes                    ?  G. Papathanassopoulos, IJNA 9 (1980), 164-67; ...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                 Lead anchor stock.                NaN          NaN
47    Greece        48          34                     Artemision            57                 Aegean                         Northern Euboea       NaN        NaN        NaN        NaN                              35-40m        Hellenistic/Roman                   200-80 BC         -200.0        -80.0         NaN                      NaN          NaN                             Corinth?            Pergamum?  V. Kallipolitis, Athens Annals of Archaeology ...                                                NaN     False   False        False       False   False                                                NaN  Bronze works of art, including C5th male statu...                               Timbers lie in situ.                                      Stone pestle.             Lead anchor stock and grinding stones.                NaN          NaN
48    Greece        49         307                         Limeni           597  Central Mediterranean                  South west Peloponnese       NaN        NaN        NaN        NaN                           Not known         Roman Republican              Early C 1st BC         -100.0        -75.0         NaN                      NaN          NaN                                    ?                    ?  G. Touchais, BCH 102 (1978), 678;  Parker (199...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                             A large merchant ship?                                                NaN                                                NaN                NaN          NaN
49    Greece        50          35                       Rhaphina           982                 Aegean                    East coast of Attica       NaN        NaN        NaN        NaN                           Not known         Roman Republican                    C 1st BC         -100.0         -1.0         NaN                      NaN          NaN                                  Cos                    ?  H Hoffman, Ten Centuries that Shaped the West:...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
50    Greece        51         308                      Areopolis            54  Central Mediterranean                       Mani, Peloponnese       NaN        NaN        NaN        NaN                               6-14m         Roman Republican                    C 1st BC         -100.0         -1.0         NaN                      NaN          NaN                             Adriatic               Aegean  F. Frost, Archaeologia 25 (1968), 40-3; Parker...                            Scattered Lamboglia  2.      True   False        False       False   False                                                NaN                                                NaN                               Possibly a 30m ship?                                                NaN                                                NaN                NaN          NaN
51    Greece        52          42                  Ai-Strate (?)           NaN                 Aegean                                  Euboea       NaN        NaN        NaN        NaN                           Not known        Hellenistic/Roman             C3rd BC- 3rd AD         -325.0        400.0         NaN                      NaN          NaN                                    ?                    ?                               AR 38 (1991-92), 33.   Hellenistic and Roman amphoras found in the sea.      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
52    Greece        53         313                   Palairos (?)           NaN  Central Mediterranean                                 Aetolia       NaN        NaN        NaN        NaN                           Not known                        ?                     Unknown            1.0        350.0         NaN                      NaN          NaN                             Carystos               Italy?                               AR 47 (2000-01), 43.                                                NaN     False    True         True       False   False  A column of green cipollino 4.10m long and 0.3...                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
68    Greece        69          36                  Antikythera A            44                 Aegean         Off southern tip of Peloponnese       NaN        NaN        NaN        NaN                              50-60m         Roman Republican     80 BC or a little later          -80.0        -70.0         NaN                      NaN          NaN               Alex/ Pergamum/ Aegean                 Rome  Weinberg et al TAPA 55.3 (1965); P. Throckmort...  One of the earliest wrwcks to be excavated in ...      True    True         True       False   False  36 marble statues, many of which are copies of...  Contemporary works of art and old masters from...  Lead-sheathed hull, part of which has been rai...                                                NaN                               Anchors and rigging.                NaN          NaN
69    Greece        70          37                        Kythera           564                 Aegean         Off southern tip of Peloponnese       NaN        NaN        NaN        NaN                              10-15m           Roman Imperial                50 BC-AD 110          -50.0        110.0         NaN                      NaN          NaN                               Rhodes                Rome?  Discovered by P. Throckmorton but unpublished,...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
70    Greece        71         309                      Methone D           696  Central Mediterranean        South west Messinia, Peloponnese       NaN        NaN        NaN        NaN                             Shallow           Roman Imperial              C 2nd -3rd  AD          100.0        300.0         NaN                      NaN          NaN                                Assos               Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...                                                NaN     False    True        False        True   False  Four unfinished garland sarcophagi of Assos st...            Tiles, pottery and a glass unguent jar.                                                NaN                                                NaN         Small water-worn stones, probably ballast.                NaN          NaN
71    Greece        72          39                      Piraeus A           817                 Aegean                      In Piraeus harbour       NaN        NaN        NaN        NaN                           Not known           Roman Imperial                    C 2nd AD          100.0        200.0         NaN                      NaN          NaN                              Aegean?                    ?  G. Bass Archaeology Underwater (1966), 78; Par...                                                NaN     False   False        False       False   False                                                NaN                         Sculptures of the C2nd AD.  Flat bottomed vessel which had burnt and sunk ...                                                NaN                                                NaN                NaN          NaN
72    Greece        73         310                      Methone C           695  Central Mediterranean        South west Messinia, Peloponnese       NaN        NaN        NaN        NaN                               9-10m           Roman Imperial                  AD 200-250          200.0        250.0         NaN                      NaN          NaN                               Aegean               Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...                                                NaN      True    True         True       False   False  One complete and twenty fragments of already b...                               A fragment of glass.                                                NaN                                                NaN                                                NaN                NaN          NaN
73    Greece        74         312                   Cape Akritas           201  Central Mediterranean             South Messinia, Peloponnese       NaN        NaN        NaN        NaN                               5-10m                        ?                     Unknown            NaN          NaN         NaN                      NaN          NaN                                    ?                    ?  G. Papathanassopoulos, Arkhailogikon Deltion 2...                     Scattered remains of amphorae.      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN  The amphora fragments were found between two b...                NaN          NaN
74    Greece        75          43                  Antikythera B            45                 Aegean             Off south east Peloponnesus       NaN        NaN        NaN        NaN                             Unknown           Roman Imperial            C 1st BC- 5th AD         -100.0        500.0         NaN                      NaN          NaN                               Aegean                Rome?       Dumas Trente Siècles sous La Mer (1972), 71.                     Large amphorae ‘like barrels’.      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN  Lead stock and reinforcement collar of an anchor.                NaN          NaN
75    Greece        76         311                      Sapientza          1037  Central Mediterranean        South west Messinia, Peloponnese       NaN        NaN        NaN        NaN                                7-8m                    Roman                       Roman         -150.0        400.0         NaN                      NaN          NaN                               Aegean               Italy?                  Unpublished; Parker (1992), 1037.                                                NaN      True    True        False       False    True  Blocks and slabs of white marble, estimated we...                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
80    Greece        81          57                   Kalymnos (?)           NaN                 Aegean                    Kalymnos, Dodecanese       NaN        NaN        NaN        NaN                          Not known.        Hellenistic/Roman           Hellenistic/Roman         -325.0        400.0         NaN                      NaN          NaN                               Aegean                    ?           Εργον ΥΠΠΟ 2, 152; AR 47 (2000-01), 122.                                                NaN     False   False        False       False   False                                                NaN  Leg of a bronze statue of a horseman, probably...                                                NaN                                                NaN                                                NaN                NaN          NaN

#### What about if we want everything but Greece?

In [71]:
df[(df["Country"]!="Greece")]

      Country  Wreck ID  Strauss ID                            Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0     Croatia         1         331                          Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1     Croatia         2         328                         Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2     Croatia         3         329                    Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3     Croatia         4         330                            Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4     Croatia         5         322                        Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...       ...       ...         ...                             ...           ...       ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
1779    Italy      9058           0              Olbia Late Roman 2           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1780    Italy      9059           0                  Olbia medieval           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1781    Italy      9060           0  Isola della Gallinara (Savona)           NaN       NaN                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1782    Italy      9061           0                San Vito Lo Capo           NaN       NaN                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1783    Italy      9063           0   Capo Colonna and Capo Alfieri           NaN       NaN                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1690 rows x 35 columns]

In [74]:
df[~(df["Country"]=="Greece")]

      Country  Wreck ID  Strauss ID                            Name Parker Number  Sea area                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0     Croatia         1         331                          Komiza           NaN  Adriatic                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1     Croatia         2         328                         Lokunji           NaN  Adriatic                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2     Croatia         3         329                    Maharac Cape           NaN  Adriatic                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3     Croatia         4         330                            Mlin           702  Adriatic                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4     Croatia         5         322                        Plavac B           832  Adriatic  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...       ...       ...         ...                             ...           ...       ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
1779    Italy      9058           0              Olbia Late Roman 2           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1780    Italy      9059           0                  Olbia medieval           NaN       NaN                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1781    Italy      9060           0  Isola della Gallinara (Savona)           NaN       NaN                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1782    Italy      9061           0                San Vito Lo Capo           NaN       NaN                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1783    Italy      9063           0   Capo Colonna and Capo Alfieri           NaN       NaN                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1690 rows x 35 columns]

#### Combine two filters with `&` = `and`

In [72]:
df[(df["Country"]=="Greece")& (df["Columns etc"]== True)]

     Country  Wreck ID  Strauss ID                Name Parker Number               Sea area                            Region  Latitude  Longitude  Min depth  Max depth      Depth            Period                   Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability         Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks                                        Marble type                                        Other cargo                                       Hull remains Shipboard paraphernalia        Ship equipment  Estimated tonnage Amphora type
52    Greece        53         313        Palairos (?)           NaN  Central Mediterranean                           Aetolia       NaN        NaN        NaN        NaN  Not known                 ?                  Unknown            1.0        350.0         NaN                      NaN          NaN                Carystos               Italy?                               AR 47 (2000-01), 43.                                                NaN     False    True         True       False   False  A column of green cipollino 4.10m long and 0.3...                                                NaN                                                NaN                     NaN                   NaN                NaN          NaN
68    Greece        69          36       Antikythera A            44                 Aegean   Off southern tip of Peloponnese       NaN        NaN        NaN        NaN     50-60m  Roman Republican  80 BC or a little later          -80.0        -70.0         NaN                      NaN          NaN  Alex/ Pergamum/ Aegean                 Rome  Weinberg et al TAPA 55.3 (1965); P. Throckmort...  One of the earliest wrwcks to be excavated in ...      True    True         True       False   False  36 marble statues, many of which are copies of...  Contemporary works of art and old masters from...  Lead-sheathed hull, part of which has been rai...                     NaN  Anchors and rigging.                NaN          NaN
72    Greece        73         310           Methone C           695  Central Mediterranean  South west Messinia, Peloponnese       NaN        NaN        NaN        NaN      9-10m    Roman Imperial               AD 200-250          200.0        250.0         NaN                      NaN          NaN                  Aegean               Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...                                                NaN      True    True         True       False   False  One complete and twenty fragments of already b...                               A fragment of glass.                                                NaN                     NaN                   NaN                NaN          NaN
106   Greece       107          85     Bay of Paroikia           NaN                 Aegean                   Paros, Cyclades       NaN        NaN        NaN        NaN  Not known    Roman Imperial                 C 2nd AD          100.0        200.0         NaN                      NaN          NaN                  Paros?                    ?  E. Hatzidaki and G Papathanassopoulos  IJNA 9 ...                                                NaN     False    True         True       False   False  Two hundred and seven marble objects including...                                                NaN                                                NaN                     NaN                   NaN                NaN          NaN
190   Greece       191         314             Lixouri           604  Central Mediterranean                        Cephalonia       NaN        NaN        4.0        4.0         4m             Roman                    Roman         -150.0        400.0         NaN                      NaN          NaN                  Aegean               Italy?  Press reports in G. Touchais, BCH 105 (1981), ...                                                NaN     False    True         True       False   False  Six headless statues of three male nudes, a dr...                                                NaN                                                NaN                     NaN                   NaN                NaN          NaN
1710  Greece      8989           0  Polyaigos (marble)           NaN        Southern Aegean                         Polyaigos  36.73528   24.54483        0.0        0.0        NaN               NaN                      NaN            1.0        350.0         0.0                      0.0          0.0                     NaN                  NaN  http://chronique.efa.gr/index.php/fiches/voir/...                                                NaN     False    True         True       False   False  A single column of cipollino from Carystos was...                                                NaN                                                NaN                     NaN                   NaN                0.0          NaN

#### Combine two filters with `|` = `or`

In [73]:
df[(df["Country"]=="Greece") | (df["Columns etc"]== True)]

      Country  Wreck ID  Strauss ID                           Name Parker Number               Sea area                                  Region  Latitude  Longitude  Min depth  Max depth                               Depth                   Period                      Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability                      Place of origin               Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks                                        Marble type                                        Other cargo                                       Hull remains                            Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
11     Turkey        12          12             Kizil Burun Column           NaN                 Aegean                      Southwest of Izmir  38.26075   26.24256       45.0       50.0                                 50m           Roman Republic           Late C 2nd-1st BC         -125.0        -25.0         NaN                      NaN          NaN                          Proconnesus                    Claros, Turkey?  http://ina.tamu.edu/kizilburun/index.htm_x000D...  Discovered in 1993 and excavated between 2005 ...      True    True         True       False    True  Eight Proconnesian marble column drums averagi...  Undecorated, utilitarian cookware (plates, cas...  More than 250 fasteners, most of them copper (...  The head of a double axe, an axe-adze, a tool ...  An anchor (in concretion, which with two lead ...                NaN          NaN
14     Greece        15          72           Aghios Eustratios(?)           NaN                 Aegean               Between Euboea and Lesbos       NaN        NaN        NaN        NaN                           Not known     early Roman Imperial              End of C1st BC          -25.0         -1.0         NaN                      NaN          NaN                               Aegean                                  ?                         National Museum of Athens.                                                NaN     False   False        False       False   False                                                NaN  Bronze statue of Augustus riding a horse.Tthis...                                                NaN                                                NaN                                                NaN                NaN          NaN
35     Turkey        36          23                        Sigacek           NaN                 Aegean                                       ?       NaN        NaN        NaN        NaN                                   ?                    Roman                     C1st AD            1.0        100.0         NaN                      NaN          NaN                                    ?                                  ?  http://www.thy.com/en-INT/skylife/archive/en/2...                                                NaN     False    True         True       False    True                8 column drums, a plinth and slabs.                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
37     Turkey        38         100                           Şile          1088              Black Sea                               Near Şile       NaN        NaN        NaN        NaN             6m, 400m from the coast           Roman Imperial                  AD 100-125          100.0        125.0         NaN                      NaN          NaN                Thessaly, Proconnesus                          Black Sea  M. Mellink AJA 77 (1973), 191; M. Beykan in N....                                                NaN     False    True         True       False    True  Two 10 foot columns, finished state; large ver...                                                NaN                    Hull timbers and metal objects.                                                NaN                                                NaN                NaN          NaN
41     Greece        42          30                         Piadha           810                 Aegean             North of Epidaurus, Argolis       NaN        NaN       30.0       35.0                              30-35m        Hellenistic/Roman                C 5th-1st BC         -500.0         -1.0         NaN                      NaN          NaN                               Aegean                                  ?  G. Papathanassopoulos, IJNA 9 (1980), 164-67; ...                                                NaN     False   False        False       False   False                                                NaN                                     Laconian tiles                                                NaN                                                NaN                                                NaN                NaN          NaN
42     Greece        43         300                      Preveza B           905  Central Mediterranean                   In the area of Actium       NaN        NaN        NaN        NaN                           Not known        Hellenistic/Roman                  300-250 BC         -300.0       -250.0         NaN                      NaN          NaN                              Corinth                             Italy?  G. Kapitän, IJNA 2 (1973), 185-6; C. Koehler, ...  Corinthian A and B forms, now in the British M...      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
43     Greece        44         305                      Methone A           693  Central Mediterranean               Near Methone, Peloponnese       NaN        NaN        NaN        NaN                             Shallow             Hellenistic?                Hellenistic?         -425.0        -25.0         NaN                      NaN          NaN                              Aegean?                             Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...  A badly broken-up wreck, presumably with ampho...      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
44     Greece        45          31                       Marathon           650                 Aegean                   Near Marathon, Attica       NaN        NaN        NaN        NaN                           Not known        Hellenistic/Roman                C 4th-1st BC         -400.0         -1.0         NaN                      NaN          NaN                               Athens                                  ?  K. Rhomaios, Arkhailogikon Deltion 9 (1924-5),...                                                NaN     False   False        False       False   False                                                NaN  Famous bronze statue of a boy, perhaps the god...                                    Wood fragments.                                                NaN                                                NaN                NaN          NaN
45     Greece        46         306                      Preveza A           904  Central Mediterranean                             Near Actium       NaN        NaN        NaN        NaN                                 18m        Hellenistic/Roman                  200-150 BC         -200.0       -150.0         NaN                      NaN          NaN                                Italy                                  ?  Brief report only,  I. Vokotopoulou, Arkhailog...  Graeco-Italic, perhaps Will Type D. Large numbers      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
46     Greece        47          33                         Dhrapi           363                 Aegean  Between Hydra and Spetsai, Peloponnese       NaN        NaN        NaN        NaN                              35-40m        Hellenistic/Roman                   250-50 BC         -250.0        -50.0         NaN                      NaN          NaN                               Rhodes                                  ?  G. Papathanassopoulos, IJNA 9 (1980), 164-67; ...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                 Lead anchor stock.                NaN          NaN
47     Greece        48          34                     Artemision            57                 Aegean                         Northern Euboea       NaN        NaN        NaN        NaN                              35-40m        Hellenistic/Roman                   200-80 BC         -200.0        -80.0         NaN                      NaN          NaN                             Corinth?                          Pergamum?  V. Kallipolitis, Athens Annals of Archaeology ...                                                NaN     False   False        False       False   False                                                NaN  Bronze works of art, including C5th male statu...                               Timbers lie in situ.                                      Stone pestle.             Lead anchor stock and grinding stones.                NaN          NaN
48     Greece        49         307                         Limeni           597  Central Mediterranean                  South west Peloponnese       NaN        NaN        NaN        NaN                           Not known         Roman Republican              Early C 1st BC         -100.0        -75.0         NaN                      NaN          NaN                                    ?                                  ?  G. Touchais, BCH 102 (1978), 678;  Parker (199...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                             A large merchant ship?                                                NaN                                                NaN                NaN          NaN
49     Greece        50          35                       Rhaphina           982                 Aegean                    East coast of Attica       NaN        NaN        NaN        NaN                           Not known         Roman Republican                    C 1st BC         -100.0         -1.0         NaN                      NaN          NaN                                  Cos                                  ?  H Hoffman, Ten Centuries that Shaped the West:...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
50     Greece        51         308                      Areopolis            54  Central Mediterranean                       Mani, Peloponnese       NaN        NaN        NaN        NaN                               6-14m         Roman Republican                    C 1st BC         -100.0         -1.0         NaN                      NaN          NaN                             Adriatic                             Aegean  F. Frost, Archaeologia 25 (1968), 40-3; Parker...                            Scattered Lamboglia  2.      True   False        False       False   False                                                NaN                                                NaN                               Possibly a 30m ship?                                                NaN                                                NaN                NaN          NaN
51     Greece        52          42                  Ai-Strate (?)           NaN                 Aegean                                  Euboea       NaN        NaN        NaN        NaN                           Not known        Hellenistic/Roman             C3rd BC- 3rd AD         -325.0        400.0         NaN                      NaN          NaN                                    ?                                  ?                               AR 38 (1991-92), 33.   Hellenistic and Roman amphoras found in the sea.      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
52     Greece        53         313                   Palairos (?)           NaN  Central Mediterranean                                 Aetolia       NaN        NaN        NaN        NaN                           Not known                        ?                     Unknown            1.0        350.0         NaN                      NaN          NaN                             Carystos                             Italy?                               AR 47 (2000-01), 43.                                                NaN     False    True         True       False   False  A column of green cipollino 4.10m long and 0.3...                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
53      Syria        54         210                        Arwad C            60  Eastern Mediterranean                Off the coast of Tartous       NaN        NaN        NaN        NaN                                 20m                        ?                     Unknown            NaN          NaN         NaN                      NaN          NaN                                    ?                                  ?  H. Frost, Annales Archéologiques de Syrie 14 (...                                                NaN     False    True         True       False   False          Small black basalt columns lying on sand.                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
68     Greece        69          36                  Antikythera A            44                 Aegean         Off southern tip of Peloponnese       NaN        NaN        NaN        NaN                              50-60m         Roman Republican     80 BC or a little later          -80.0        -70.0         NaN                      NaN          NaN               Alex/ Pergamum/ Aegean                               Rome  Weinberg et al TAPA 55.3 (1965); P. Throckmort...  One of the earliest wrwcks to be excavated in ...      True    True         True       False   False  36 marble statues, many of which are copies of...  Contemporary works of art and old masters from...  Lead-sheathed hull, part of which has been rai...                                                NaN                               Anchors and rigging.                NaN          NaN
69     Greece        70          37                        Kythera           564                 Aegean         Off southern tip of Peloponnese       NaN        NaN        NaN        NaN                              10-15m           Roman Imperial                50 BC-AD 110          -50.0        110.0         NaN                      NaN          NaN                               Rhodes                              Rome?  Discovered by P. Throckmorton but unpublished,...                                                NaN      True   False        False       False   False                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                NaN          NaN
70     Greece        71         309                      Methone D           696  Central Mediterranean        South west Messinia, Peloponnese       NaN        NaN        NaN        NaN                             Shallow           Roman Imperial              C 2nd -3rd  AD          100.0        300.0         NaN                      NaN          NaN                                Assos                             Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...                                                NaN     False    True        False        True   False  Four unfinished garland sarcophagi of Assos st...            Tiles, pottery and a glass unguent jar.                                                NaN                                                NaN         Small water-worn stones, probably ballast.                NaN          NaN
71     Greece        72          39                      Piraeus A           817                 Aegean                      In Piraeus harbour       NaN        NaN        NaN        NaN                           Not known           Roman Imperial                    C 2nd AD          100.0        200.0         NaN                      NaN          NaN                              Aegean?                                  ?  G. Bass Archaeology Underwater (1966), 78; Par...                                                NaN     False   False        False       False   False                                                NaN                         Sculptures of the C2nd AD.  Flat bottomed vessel which had burnt and sunk ...                                                NaN                                                NaN                NaN          NaN
72     Greece        73         310                      Methone C           695  Central Mediterranean        South west Messinia, Peloponnese       NaN        NaN        NaN        NaN                               9-10m           Roman Imperial                  AD 200-250          200.0        250.0         NaN                      NaN          NaN                               Aegean                             Italy?  P. Throckmorton and J. Bullitt, Expedition 5 (...                                                NaN      True    True         True       False   False  One complete and twenty fragments of already b...                               A fragment of glass.                                                NaN                                                NaN                                                NaN                NaN          NaN