In [214]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#### Read the file 'DHAW2023-7-Pandas-assignment-NBA.xlsx'. I downloaded the excel from [nbastuffer.com](https://www.nbastuffer.com/2021-2022-nba-player-stats/) and I removed the first column and the first row.

In [252]:
df = pd.read_excel('DHAW2023-7-Pandas-assignment-NBA.xlsx') #

#### Print the first five lines

In [253]:
df.head()

,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN%Minutes PercentagePercentage of team minutes used by a player while he was on the floor,"USG%Usage RateUsage rate, a.k.a., usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor",TO%Turnover RateA metric that estimates the number of turnovers a player commits per 100 possessions,FTA,FT%,2PA,2P%,3PA,3P%,"eFG%Effective Shooting PercentageWith eFG%, three-point shots made are worth 50% more than two-point shots made. eFG% Formula=(FGM+ (0.5 x 3PM))/FGA","TS%True Shooting PercentageTrue shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.",PPGPointsPoints per game.,RPGReboundsRebounds per game.,TRB%Total Rebound PercentageTotal rebound percentage is estimated percentage of available rebounds grabbed by the player while the player is on the court.,APGAssistsAssists per game.,AST%Assist PercentageAssist percentage is an estimated percentage of teammate field goals a player assisted while the player is on the court,SPGStealsSteals per game.,BPGBlocksBlocks per game.,TOPGTurnoversTurnovers per game.,"VIVersatility IndexVersatility index is a metric that measures a playerâ€™s ability to produce in points, assists, and rebounds. The average player will score around a five on the index, while top players score above 10",ORTGOffensive RatingIndividual offensive rating is the number of points produced by a player per 100 total individual possessions.,DRTGDefensive RatingIndividual defensive rating estimates how many points the player allowed per 100 possessions he individually faced while staying on the court.
0,Precious Achiuwa,Tor,F,22.74,6,27.8,57.8,18.2,13.8,10,0.600,36,0.556,16,0.313,0.529,0.541,10.2,4.8,10.7,1.0,5.7,0.17,0.83,1.50,5.3,103.3,107.9
1,Steven Adams,Mem,C,28.91,7,16.2,33.8,10.8,13.4,11,0.545,21,0.429,0,0.000,0.429,0.464,3.4,6.4,20.9,2.1,17.6,0.14,0.14,0.57,8.8,120.1,100.4
2,Bam Adebayo,Mia,C-F,24.92,18,34.1,71.0,17.9,15.4,76,0.763,174,0.598,1,0.000,0.594,0.638,14.8,8.0,13.8,2.7,12.6,1.00,0.72,2.11,8.0,119.8,101.2
3,Nickeil Alexander-Walker,Uta,G,23.79,1,4.7,9.8,24.4,0.0,1,1.000,2,1.000,0,0.000,1.000,1.025,5.0,1.0,12.4,1.0,70.1,1.00,0.00,0.00,14.6,214.3,100.3
4,Grayson Allen,Mil,G,26.69,12,25.4,53.0,13.6,9.4,11,0.636,34,0.529,48,0.396,0.567,0.576,8.3,2.9,5.9,1.3,7.2,0.67,0.33,0.75,5.0,112.0,107.6

#### Get the name of the columns

In [254]:
df.columns.values.tolist()

['FULL NAME',
 'TEAM',
 'POS',
 'AGE',
 'GP',
 'MPG',
 'MIN%Minutes PercentagePercentage of team minutes used by a player while he was on the floor',
 'USG%Usage RateUsage rate, a.k.a., usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor',
 'TO%Turnover RateA metric that estimates the number of turnovers a player commits per 100 possessions',
 'FTA',
 'FT%',
 '2PA',
 '2P%',
 '3PA',
 '3P%',
 'eFG%Effective Shooting PercentageWith eFG%, three-point shots made are worth 50% more than two-point shots made. eFG% Formula=(FGM+ (0.5 x 3PM))/FGA',
 'TS%True Shooting PercentageTrue shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.',
 'PPGPointsPoints per game.',
 'RPGReboundsRebounds per game.',
 'TRB%Total Rebound PercentageTotal rebound percentage is estimated percentage of available rebounds grabbed by the player while the player is on the court.',
 'APGAssistsAssists per game.',
 'AST%Assist PercentageAssist percentage is an estimated percentage of teammate field goals a player assisted while the player is on the court',
 'SPGStealsSteals per game.',
 'BPGBlocksBlocks per game.',
 'TOPGTurnoversTurnovers per game.',
 'VIVersatility IndexVersatility index is a metric that measures a playerâ€™s ability to produce in points, assists, and rebounds. The average player will score around a five on the index, while top players score above 10',
 'ORTGOffensive RatingIndividual offensive rating is the number of points produced by a player per 100 total individual possessions.',
 'DRTGDefensive RatingIndividual defensive rating estimates how many points the player allowed per 100 possessions he individually faced while staying on the court.']

#### Get the stats of "Giannis Antetokounmpo"

In [255]:
df[(df["FULL NAME"]=="Giannis Antetokounmpo")]

,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN%Minutes PercentagePercentage of team minutes used by a player while he was on the floor,"USG%Usage RateUsage rate, a.k.a., usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor",TO%Turnover RateA metric that estimates the number of turnovers a player commits per 100 possessions,FTA,FT%,2PA,2P%,3PA,3P%,"eFG%Effective Shooting PercentageWith eFG%, three-point shots made are worth 50% more than two-point shots made. eFG% Formula=(FGM+ (0.5 x 3PM))/FGA","TS%True Shooting PercentageTrue shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.",PPGPointsPoints per game.,RPGReboundsRebounds per game.,TRB%Total Rebound PercentageTotal rebound percentage is estimated percentage of available rebounds grabbed by the player while the player is on the court.,APGAssistsAssists per game.,AST%Assist PercentageAssist percentage is an estimated percentage of teammate field goals a player assisted while the player is on the court,SPGStealsSteals per game.,BPGBlocksBlocks per game.,TOPGTurnoversTurnovers per game.,"VIVersatility IndexVersatility index is a metric that measures a playerâ€™s ability to produce in points, assists, and rebounds. The average player will score around a five on the index, while top players score above 10",ORTGOffensive RatingIndividual offensive rating is the number of points produced by a player per 100 total individual possessions.,DRTGDefensive RatingIndividual defensive rating estimates how many points the player allowed per 100 possessions he individually faced while staying on the court.
7,Giannis Antetokounmpo,Mil,F,27.53,12,37.3,77.7,38.5,13.6,134,0.679,244,0.537,41,0.22,0.507,0.552,31.7,14.2,19.5,6.8,37.0,0.67,1.33,4.5,15.6,107.9,99.6

#### How many players are over 30 years old?

In [256]:
len(df[(df["AGE"]>30)])

58

#### How many players of Milwaukee Bucks are in this DataFrame?

In [257]:
len(df[(df["TEAM"]=="Mil")])

15

#### How many players of Milwaukee Bucks are over 30 years old?

In [262]:
len(df[(df["AGE"]>30)&(df["TEAM"]=="Mil")])
#len(df[(df["AGE"]>30)&(df["TEAM"]=="Mil")])
#this needs to be fixed

6

#### Which players of Milwaukee Bucks were shooting with average over 50% in either 2P% or 3P%

In [9]:
len(df[(df["TEAM"]=="Mil")&((df["3P%"]>=0.5)|(df["2P%"]>=0.5))])

10

#### Get Milwaukee Bucks' average free throws (FT%)

In [14]:
df[(df["TEAM"]=="Mil")]["FT%"].mean()

0.6226666666666667

#### Get the average free throws per team
Hint: pandas has a method for finding the mean.

In [11]:
df["TEAM"].unique()

array(['Tor', 'Mem', 'Mia', 'Uta', 'Mil', 'Nor', 'Pho', 'Den', 'Phi',
       'Min', 'Dal', 'Gol', 'Atl', 'Chi', 'Bro', 'Bos'], dtype=object)

In [20]:
print(df[(df["TEAM"]=="Tor")]["FT%"].mean())
print(df[(df["TEAM"]=="Mem")]["FT%"].mean())
print(df[(df["TEAM"]=="Mia")]["FT%"].mean())
print(df[(df["TEAM"]=="Uta")]["FT%"].mean())
print(df[(df["TEAM"]=="Mil")]["FT%"].mean())
print(df[(df["TEAM"]=="Nor")]["FT%"].mean())
print(df[(df["TEAM"]=="Pho")]["FT%"].mean())
print(df[(df["TEAM"]=="Den")]["FT%"].mean())
print(df[(df["TEAM"]=="Phi")]["FT%"].mean())
print(df[(df["TEAM"]=="Min")]["FT%"].mean())
print(df[(df["TEAM"]=="Dal")]["FT%"].mean())
print(df[(df["TEAM"]=="Gol")]["FT%"].mean())
print(df[(df["TEAM"]=="Atl")].mean())
print(df[(df["TEAM"]=="Chi")]["FT%"].mean())
print(df[(df["TEAM"]=="Bro")]["FT%"].mean())
print(df[(df["TEAM"]=="Bos")]["FT%"].mean())

0.5601333333333334
0.7252307692307693
0.6287857142857144
0.6703333333333333
0.6226666666666667
0.6635
0.5956428571428571
0.6283846153846154
0.48139999999999994
0.6222307692307693
0.7815000000000001
0.6875000000000001
0.5789285714285713
0.5245000000000001
0.512
0.6892666666666667

In [265]:
df.groupby(["TEAM"]).mean(numeric_only=True)['FT%']

TEAM
Atl    0.578929
Bos    0.689267
Bro    0.512000
Chi    0.524500
Dal    0.781500
Den    0.628385
Gol    0.687500
Mem    0.725231
Mia    0.628786
Mil    0.622667
Min    0.622231
Nor    0.663500
Phi    0.481400
Pho    0.595643
Tor    0.560133
Uta    0.670333
Name: FT%, dtype: float64

#### Guess the result of the next code: True or False?

In [21]:
simpsons = pd.Series(
['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'])
print('Bart' in simpsons)

False

In [22]:
simpsons = pd.Series(
['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'])
print('Bart' in simpsons.values)

True

#### Round in pandas. `round()` function is used to round a DataFrame to a variable number of decimal places. Yet, run the cell below to see a weird behavior.

In [23]:
s = pd.Series([-2.5, -1.5, -0.5, 0.5, 1.5, 2.5])
print(s.round())

0   -2.0
1   -2.0
2   -0.0
3    0.0
4    2.0
5    2.0
dtype: float64

This is called bankersâ€™ rounding. Odd numbers are rounded up, even numbers are rounded down.

#### Correct the mistake in the following cell to get numbers larger than two and small than five

In [83]:
nums = pd.Series([1, 2, 3, 4, 5, 6])
print(nums[(nums>2) & (nums < 5)])

2    3
3    4
dtype: int64

#### Change the df in order to reflect an 20% increase in the prices.

In [60]:
df = pd.DataFrame([
['T-shirt', 70],
['Pants', 80],
['Coat', 250],
['Shirt', 95]], columns=['item', 'price'])

In [61]:
df['price'] = df['price']*1.2
df

      item  price
0  T-shirt   84.0
1    Pants   96.0
2     Coat  300.0
3    Shirt  114.0

#### Change the df below so it reflects a 35% increase in the price of the vegetables and a 25% decrease in the price of fruits.

In [266]:
df = pd.DataFrame([
['Carrots', 'vegetable', 6],
['Apple', 'fruit', 5],
['Banana', 'fruit', 4],
['Spinach', 'vegetable', 2]], columns=['item', 'type', 'price'])
print(df)

      item       type  price
0  Carrots  vegetable      6
1    Apple      fruit      5
2   Banana      fruit      4
3  Spinach  vegetable      2

In [244]:
import numpy as np
df['price'] = np.where(df['type'] == 'vegetable', df['price'] * 1.35, df['price'])
df['price'] = np.where(df['type'] == 'fruit', df['price'] * 0.75, df['price'])
df

      item       type  price
0  Carrots  vegetable   8.10
1    Apple      fruit   3.75
2   Banana      fruit   3.00
3  Spinach  vegetable   2.70

In [236]:
vegpricechange = 0.35
fruitchange = 0.25
df.loc[df['type']=='vegetable','price']+= df['price']*vegpricechange
df.loc[df['type']=='fruit','price']-= df['price']*fruitchange
df

      item       type  price
0  Carrots  vegetable   8.10
1    Apple      fruit   3.75
2   Banana      fruit   3.00
3  Spinach  vegetable   2.70

In [268]:
df.loc[df['type']=='vegetable','price'] = df.loc[df['type']=='vegetable','price']*1.35
df.loc[df['type']=='fruit','price'] = df.loc[df['type']=='fruit','price']*0.75
df

      item       type   price
0  Carrots  vegetable  8.1000
1    Apple      fruit  2.8125
2   Banana      fruit  2.2500
3  Spinach  vegetable  2.7000

In [248]:
df.loc[df['type']=='vegetable','price'] *= 1.35
df.loc[df['type']=='fruit','price'] *= 0.75
df

      item       type  price
0  Carrots  vegetable   8.10
1    Apple      fruit   3.75
2   Banana      fruit   3.00
3  Spinach  vegetable   2.70

#### There is a DataFrame with products. If the products are going to turn bad soon, their condition is described as False. Else, their condition is True. Create a new df that gives a 40% discount if the product might turn bad and 15% increase if they are still in good condition.

In [204]:
df = pd.DataFrame([
['Egg', False, 6],
['Watermelon', True, 5],
['Milk', False, 4],
['Water', True, 2]], columns=['item', 'condition', 'price'])
df

         item  condition  price
0         Egg      False      6
1  Watermelon       True      5
2        Milk      False      4
3       Water       True      2

In [208]:
newDf = df
# newDf.loc[df['condition'] == False]['price']*0.75
# newDf.loc[df['condition'] == True]['price']*1.15

# condition = (df['condition']==True)
# df.loc[condition, 'price']=df.loc[condition,'price'].replace(df['price'], df['price']*0.75)

newDf['price'] = np.where(df['condition'] == True, df['price'] * 1.15, df['price'])
newDf['price'] = np.where(df['condition'] == False, df['price'] * 0.75, df['price'])
print(df)

         item  condition  price
0         Egg      False   4.50
1  Watermelon       True   5.75
2        Milk      False   3.00
3       Water       True   2.30