# Introduction to Python <a class="anchor" id="Introduction_to_Python"></a>
* [Program](#Program)
* [Jupyter Notebook](#Jupyter_Notebook)
* [Arithmetic operators](#Arithmetic_operators)
* [Assignment](#Assignment)
* [Python types](#Python_types)
* [Variables, expressions and statements](#Variables_expressions_and_statements)
* [Strings](#Strings)
* [Lists](#Lists)
* [Functions](#imports)
* [if, else, elif, while](#if_else_elif_while)

---

## [Program](#Introduction_to_Python)

#### What is a program?
Program is sequence of instructions to perform a certain task.

#### Basic parts of a program
_input_

_data manipulation_

_math_

_control flow_

_interaction with other software of hardware_

_output_

---

## [Jupyter Notebook](#Introduction_to_Python) <a class="anchor" id="Jupyter_Notebook"></a>

#### How to run Jupyter Notebook
1. Install and run Jupyter Notebook and 
2. Navigate to the directory where your ipynb file is located.
3. Click on the ipynb file to open it in Jupyter Notebook.

#### What is a ipynb file
`ipynb` is a file extenstion and stands for “Interactive Python Notebook.”

#### What is Jupyter Notebook
`Jupyter Notebook` is an open-source web application that allows users to create and share documents that contain live code, visualizations, and text.

#### Applications that run Jupyter Notebook files
- Jupyter Notebook
- JupyterLab
- Google Colaboratory
- Visual Studio Code
- and more others

#### Print statement: Hello, World!

In [2]:
print("Hello, World!")

Hello, World!

---

## [Arithmetic operators](#Introduction_to_Python) <a class="anchor" id="Arithmetic_operators"></a>
Python is using arithmetic operators. Most of them have similar use with mathematic operators, but others do not.

In [3]:
50+8

58

In [5]:
50-9

41

In [4]:
50*22

1100

In [6]:
2**5

32

In [7]:
30/6

5.0

_Notice that the result is 5.0 and not 5. You may want to check [this video](https://www.youtube.com/watch?v=PZRI1IfStY0&ab_channel=Computerphile) of Tom Scott in Computerphile to see who computers treat floating point numbers._

In [8]:
30/8

3.75

In [9]:
30//8

3

In [10]:
30%8

6

---

## [Assignment](#Introduction_to_Python) <a class="anchor" id="Assignment"></a>
Let's assign a value to the __variable__ x. What types of values can the variable get?

In [21]:
x = 5

In [16]:
x = "Esther"

In [17]:
print(x)

Esther

##### Can more variables have the same value?

##### What is going to be the value of x when I run the next cell?

This is called __reassignment__

##### What do you think will happen when I run the following code?

In [19]:
z = 7

In [22]:
x+z

12

Before I call a variable I have to __initialize__ it.

---

## [Python types](#Introduction_to_Python) <a class="anchor" id="Python_types"></a>

### [Setting the Data Type](https://www.w3schools.com/python/python_datatypes.asp)

|Category||Types|
|:---|---|:---|
|Text Type||str|
Numeric Types||int, float, complex
Sequence Types||list, tuple, range
Mapping Type||dict
Set Types||set, frozenset
Boolean Type||bool
Binary Types||bytes, bytearray, memoryview
None Type||NoneType

#### String `str()`

In [23]:
x = 'Hello World'
y = "My name is Georgios"
print(type(x))

<class 'str'>

#### Integer `int()`

In [ ]:
x = 20
print(type(x))

#### Floating point number `float()`

In [ ]:
x = 20.5
print(type(x))

#### Complex number `complex()`

In [ ]:
# x = 1j
# print(type(x))

#### List `list()`

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

#### Tuple `tuple()`

In [ ]:
# x = ("apple", "banana", "cherry")
# print(type(x))

#### Range `range()`

In [ ]:
# x = range(6)
# print(type(x))

#### Dictionary `dict()`

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

#### Set `set()`

In [ ]:
x = {"apple", "apple", "cherry"}
print(type(x))

#### Frozenset `frozenset()`

In [ ]:
# x = frozenset({"apple", "banana", "cherry"})
# print(type(x))

#### Boolean

In [ ]:
# x = True
# print(type(x))

#### Bytes `bytes()`

In [ ]:
# x = b"Hello"
# print(type(x))

#### Byte array `bytearray()`

In [ ]:
# x = bytearray(5)
# print(type(x))

#### MemoryView `memoryview`

In [ ]:
# x = memoryview(bytes(5))
# print(type(x))

#### NoneType

In [ ]:
# x = None
# print(type(x))

---

## [Variables, expressions and statements](#Introduction_to_Python) <a class="anchor" id="Variables_expressions_and_statements"></a>

An <span style="color:red">__assignment statement__</span> stores a <span style="color:red">__value__</span> to a <span style="color:red">__variable__</span>.

In [24]:
banana = '1'

In [25]:
print(banana)

1

In [26]:
mynameis = "Georgios" # I am assigning the first variable.

In [27]:
myageis = 35

There are restrictions in variable names
- You can use only letters, numbers, and underscores
- You cannot start with numbers
- You cannot use a keyword

In [28]:
1pie = 'test'

SyntaxError: invalid decimal literal (4096136455.py, line 1)

In [29]:
b@nana = 25

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (626596202.py, line 1)

In [30]:
class = 7

SyntaxError: invalid syntax (58714318.py, line 1)

- __Syntax error__: Something is not according to the rules (syntax of python)

- __Runtime error__: The program has started running, but something has happened and it had to stop.

---

## [Strings](#Introduction_to_Python) <a class="anchor" id="Strings"></a>

In [43]:
name = "Georgios"

In [31]:
print('"My name is Georgios"')

"My name is Georgios"

In [34]:
name[5]

'i'

In [35]:
name[-1]

's'

In [36]:
name[0:2]

'Ge'

In [39]:
name[-4:-2]

''

Getting part of a string is called a __slice__.

In [41]:
len(name)

17

#### Concatenation

In [44]:
lastname = "Tsolakis"

In [45]:
fullname = name + " " + lastname
print(fullname)
#print(fullname)
print(f"{name} {lastname}")

Georgios Tsolakis
Georgios Tsolakis
Georgios Tsolakis

#### Can we concatenate strings and numbers?

In [46]:
x = "class" + " 3"
print(x)

class 3

In [47]:
x = "class" + str(3)
print(x)

class3

#### How can we go around this problem?

In [48]:
x = "3"

In [49]:
y = 5

In [50]:
int(x)+y

8

---

## [Lists](#Introduction_to_Python) <a class="anchor" id="Lists"></a>

In [57]:
roster1 = ['Daniel', 'Avery', 'Esther', 'Xinrui', 'Qianyi', 'Josh', 'Esther']

In [58]:
roster1[0]

'Daniel'

In [59]:
roster1[-1]

'Esther'

In [60]:
roster1[0:3] # slice

['Daniel', 'Avery', 'Esther']

In [61]:
roster1[-3:-1]

['Qianyi', 'Josh']

In [62]:
roster1[::-1]

## this does reverse order

['Esther', 'Josh', 'Qianyi', 'Xinrui', 'Esther', 'Avery', 'Daniel']

In [63]:
len(roster1)

7

In [64]:
roster2 = [['John', 21], ['Maria', 19], ['Tracy', 19]]

This is called a __nested list__.

In [65]:
print(roster2[0][1])

21

#### Sorting

In [66]:
roster1.sort()

In [67]:
roster1

['Avery', 'Daniel', 'Esther', 'Esther', 'Josh', 'Qianyi', 'Xinrui']

In [68]:
roster1.sort(reverse=True) # True is a keyword

In [69]:
roster1

['Xinrui', 'Qianyi', 'Josh', 'Esther', 'Esther', 'Daniel', 'Avery']

In [82]:
list(roster1)

['Daniel', 'Esther']

#### Strings are ummutable, while lists are mutable
Try to change a string by assigning a specifix character to a specifix index.

In [71]:
roster1[0] = "Takis"

In [72]:
roster1

['Takis', 'Qianyi', 'Josh', 'Esther', 'Esther', 'Daniel', 'Avery']

In [73]:
name = "Georgios"

name[0] = "J"

In [ ]:
roster1

---

## [Functions](#Introduction_to_Python) <a class="anchor" id="Functions"></a>

__"In the context of programming, a function is a named sequence of statements that performs
a computation"__ (Downey 2015, 17). In other words, a function takes something and returns a result.

__function definition__: A statement that creates a new function, specifying its name, parameters,
and the statements it contains (Downey 2015, 25)

__parameter__: A name used inside a function to refer to the value passed as an argument. (Downey 2015, 26)

__argument__: A value provided to a function when the function is called. This value is assigned
to the corresponding parameter in the function. (Downey 2015, 26)

In [3]:
def add(x):             # Here x is a parameter
    return x+1

In [4]:
add(3)                  # Here 3 is an argument

4

In [5]:
def addition(x, y):     # Here x and y are parameters
    return x+y

In [6]:
addition(3, 5)          # Here 3 and 5 are arguments

8

Notice how important is the __syntax__ and the __indentation__.

---

## [Exercises](#Introduction_to_Python) <a class="anchor" id="Exercises"></a>

##### Write a function that doubles a number and adds 3. Then use the function to double a number of your choice.

In [9]:
def doubleplus3(num):
    y = addition(4,5)
    return (num*2)+3 + y

doubleplus3(3)

18

As a mental exercise, what would you have to do in order to double a number and add 3 and then double the result and add three?

##### Write a function that combines two strings

In [13]:
def combine(str1, str2):
    newstring = str1 + str2
    return newstring

a = "I love "
b = "greek drama!"
combine(a,b)

'I love greek drama!'

##### Write a function that takes two parameters and returns one's initials

In [14]:
def init(firstname, lastname):
    initials = firstname[0] + lastname[0]
    return initials
a = "Esther"
b = "Kim"
init(a,b)

'EK'

##### Write a function that returns the lenght of one's full name (notice that it should not count the space character)

In [15]:
def namelength(first,last):
    length = len(first)+ len(last)
    return length
namelength("Esther","Kim")

9

##### Write a function that takes a string and swaps the first letter with the last one. E.g. Georgios -> seorgioG

In [18]:
def swap(str):
    str_list = list(str)
    str_list[0] = str[-1]
    str_list[-1] = str[0]
    return ''.join(str_list) ## this converts a list into a string
swap("Georgios")


## strings are immutable, lists are mutable

'seorgioG'

##### Write a function that takes two strings, `name` and `lastname`, and prints "My name is `lastname`. `name` `lastname`."

In [22]:
def bond(name, lastname):
    return f"My name is {lastname}. {name} {lastname}."
bond("James", "Bond")

'My name is Bond. James Bond.'

##### After you read what an [f-string](https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/) is in Python, write the same function with an f-string.

##### Write a function that counts all the characters in a sentence and then use it for the following one. <a class="anchor" id="countwords"></a>

In [23]:
mysentence = "Mr and Mrs Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much. They were the last people you’d expect to be involved in anything strange or mysterious, because they just didn’t hold with such nonsense."

In [27]:
def countStr(x):
    spaces = x.count(" ")
    return len(x)-spaces
countStr(mysentence)

216

##### See what the method `.split()` does.

In [30]:
text = "Welcome to DHAW2023"

x = text.split()

print(x)
print(type(x))

['Welcome', 'to', 'DHAW2023']
<class 'list'>

##### Write a function that is using the split() method and returns the number of words in a sentence. Then assign to variable `numberofwords` the function that you wrote [above](#countwords)

In [29]:
def words(sentence):
    words = len(sentence.split())
    return words
words(text)

3

##### If you followed the instructions correctly, you do not see any result. Why?

##### Here is a list of names. Print the fifth element

In [31]:
names = ['Emma', 'Liam', 'Olivia', 'Noah', 'Sophia', 'Jackson', 'Ava', 'Lucas', 'Isabella', 'Aiden', 'Mia', 'Ethan', 'Harper', 'Oliver', 'Amelia']

##### What's the first name alphabetically?

In [34]:
names.sort()
print(names)

['Aiden', 'Amelia', 'Ava', 'Emma', 'Ethan', 'Harper', 'Isabella', 'Jackson', 'Liam', 'Lucas', 'Mia', 'Noah', 'Oliver', 'Olivia', 'Sophia']

In [39]:
text = "fndsajkqwpeoriuyt"
text = list(text)
text.sort()
text = str(text)
print(text)

['a', 'd', 'e', 'f', 'i', 'j', 'k', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'w', 'y']

##### What's the index of the name Ethan? Note that you have to use the .index() method

In [51]:
fullnames = [
    ['Emma', 'Johnson'],
    ['Liam', 'Smith'],
    ['Olivia', 'Williams'],
    ['Noah', 'Brown'],
    ['Sophia', 'Jones'],
    ['Jackson', 'Taylor'],
    ['Ava', 'Miller'],
    ['Ethan', 'Jackson'],
    ['Harper', 'Anderson'],
    ['Oliver', 'Thomas'],
    ['Amelia', 'Moore']
]
names.index("Mia")

10

##### What's the last name of the fifth element?

In [46]:
fullnames[4][1]

'Jones'

##### What's first last name of the last element?

In [52]:
fullnames[-1]

['Amelia', 'Moore']

##### What's the last name of the last element (provided that you don't know how many elements are in the list)?

In [53]:
fullnames[-1][-1]

'Moore'

##### Here is a list of numbers:

In [54]:
numbers = [
    [54, 494, 64],
    [20, 7, 36],
    [98, 47, 30]
]

##### Can you add the first element of each nested list?

In [55]:
numbers[0][0] + numbers[1][0] + numbers[2][0]

172

## [if, else, elif, while](#Introduction_to_Python) <a class="anchor" id="if_else_elif_while"></a>

In [74]:
if len(roster1)>2:
    print("OK")

OK

In [77]:
roster1 = ['Daniel', 'Esther']

In [79]:
if len(roster1)>2:
    print("You can proceed")
else:
    print("You cannot teach this class")

You can proceed

In [80]:
if len(roster1)>2:
    print("You can proceed")
elif len(roster1)==2:
    print("Find another student")
else:
    print("You cannot teach this class")

Find another student

##### What is an iteration?

In [81]:
for student in roster1: ##each element
    print(student)

Daniel
Esther

In [ ]:
mylist = [1,2,3,7]
for number in mylist:

---