## Pandas and CSV/EXCEL

#### Libraries - Imports

In [ ]:
# pip install pandas

In [ ]:
 # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [ ]:
 # df stands for dataframe, i.e., row and columns of data.

#### Data types in our csv

In [ ]:
df.shape # notice that this is an attribute so no parentheses

In [ ]:
df.info() # notice that this is a methon, so we need parentheses

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

#### Access one column

#### What datatype is this?

#### Access two columns

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

#### Get all columns

In [ ]:
df

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

#### How can we get the first two rows?

#### How can we get the first column of the above df?

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

### Let's grab some data

#### Get the Country column

#### Count with `.value_counts()`

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

#### What about if we want everything but Greece?

#### Combine two filters with `&` = `and`

#### Combine two filters with `|` = `or`